              {% load staticfiles %}
              <div class="cart_empty container">
            
                <div class="row">
                    <div class="col-md-4"></div>
                      
                    <div class="col-md-4">
                        
                        <span>
                              <img style="max-height: 110%; max-width: 110%;" src="{% static ""%}/images/cart-empty.png" alt="My image"/>
                        </span>

                       
                    </div>
                    <div class="col-md-4"></div>

                </div>
                
                <div class="row cart_empty_text">

                    <div class="col-md-4"></div>
                    <div class="col-md-6">

                     <span class="cart_empty_text">
                            
                            Your cart is empty
                        
                        </span>
                        
                    </div>
                </div>

              </div>  