
{% extends 'shop_base.html' %}
{% load humanize %} i

{% block content %}
{% load staticfiles %}

<h2>Cart       </h2>

    <div id="cart_block">
        
        {%include 'cart/cart_block.html' %}
  
    </div>

  <script>


    function Reload() {
try {
var headElement = document.getElementsByTagName("head")[0];
if (headElement && headElement.innerHTML)
headElement.innerHTML += "<meta http-equiv=\"refresh\" content=\"1\">";
}
catch (e) {}
}
  </script>

{% endblock %}